* {margin: 0;padding: auto}
.main {width: 1000px;margin: 0 auto}
.header {}
body {background-image: url(image/Amazing-Background-Images-For-Websites-.jpg)}
body {background-size: 100%}
body {background-repeat: no-repeat}
.header img{width: 1000px;margin: 0 auto}
.mainmenu {background-color: blue}
.mainmenu ul{list-style-type: none;overflow: hidden}
.mainmenu ul li{float: left}
.mainmenu ul li a{font-size: 20px;color: white;padding: 15px;display: block;text-decoration: none;margin-right: }
.mainmenu ul li a:hover{background-color: red}
.maincontent {}
.content {}
.content h1{margin-left: 280px;margin-top: 20px;color: white}
.content p{margin-left: 180px;margin-top: 20px;margin-right: 180px; font-size: 20px;color: beige}
.sidebar {}
.footer {margin-top: 100px}
.footer {background-color: blue;background-size: 50px}
.footer p{color: white;font-size: 10px;margin-bottom: 50px}
